$color-text-primary: #fff;
$color-navbar: #9869B0;
$text-shadow: 1px 1px 1px #323232;
$header-font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
$main-font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
$brand-font-family: "Dancing Script", "Helvetica Neue", Helvetica, Arial, cursive;