@import "variables";

/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}
.fullscreen,
.content-a {
    width:100%;
    min-height:100%;
}
.not-fullscreen,
.not-fullscreen .content-a,
.fullscreen.not-overflow,
.fullscreen.not-overflow .content-a {
    height:100%;
    overflow:hidden;
}
/* content centering styles */
.content-a {
    display:table;
}
.content-b {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    text-align:center;
}
/* background setup */
.background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50% !important;
}

body {
    background-color: transparent;
}

@import "loading-overlay";

header {
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.intro-heading {
    font-family: $header-font-family;
    color: #ffffff;
    font-size: 60px;
    text-shadow: 1px 1px 1px #323232;

    @media(min-width:768px) {
        font-size: 70px;
    }
    @media(min-width:992px) {
        font-size: 90px;
    }
}

#loginform {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;

    .fa {
        color: $heart-color;
        margin-right: 3px;
    }
}
#passwordStatus {
    padding: 3px;
}