@import "variables";

html {
    background: url(../Images/login-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
}

@import "loading-overlay";

header {
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.intro-heading {
    font-family: $header-font-family;
    color: #ffffff;
    font-size: 60px;
    text-shadow: 1px 1px 1px #323232;

    @media(min-width:768px) {
        font-size: 70px;
    }
    @media(min-width:992px) {
        font-size: 90px;
    }
}

#loginform {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;

    .fa {
        color: $heart-color;
        margin-right: 3px;
    }
}
#passwordStatus {
    padding: 3px;
}