.loadingOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: table;
  background: white; }
  .loadingOverlay i.fa {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 45px;
    -webkit-animation: pulsing 1.2s infinite;
    -moz-animation: pulsing 1.2s infinite;
    animation: pulsing 1.2s infinite;
    color: #FF8C89; }

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0; } }
@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0; } }
.text-primary {
  color: #ffffff; }

p {
  font-size: 14px;
  line-height: 1.75em;
  color: #777; }

a {
  color: #ffffff; }
  a:hover, a:focus, a:active, a.active {
    color: #e6e6e6; }
  a, a:hover, a:focus, a:active, a.active {
    outline: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Great Vibes", "Helvetica Neue", Helvetica, Arial, cursive; }

.bg-light-gray {
  background-color: #f7f7f7; }

header {
  text-align: center;
  color: #ffffff;
  background: url(../Images/login-bg.jpg) no-repeat center center scroll;
  background-size: cover; }
  header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px; }
    header .intro-text .intro-heading {
      font-family: "Great Vibes", "Helvetica Neue", Helvetica, Arial, cursive;
      font-size: 50px;
      line-height: 60px;
      text-shadow: 1px 1px 1px #323232; }
    header .intro-text .intro-lead-in {
      font-family: "Great Vibes", "Helvetica Neue", Helvetica, Arial, cursive;
      font-size: 22px;
      line-height: 22px;
      text-shadow: 1px 1px 1px #323232; }
  @media (min-width: 768px) {
    header .intro-text {
      padding-top: 300px;
      padding-bottom: 200px; }
      header .intro-text .intro-heading {
        font-size: 100px;
        line-height: 110px; }
      header .intro-text .intro-lead-in {
        font-size: 30px;
        line-height: 30px; } }

.navbar-default {
  z-index: 200;
  border-color: transparent;
  background-color: #9869B0; }
  .navbar-default .navbar-brand {
    font-family: "Great Vibes", "Helvetica Neue", Helvetica, Arial, cursive;
    color: #ffffff;
    text-shadow: 1px 1px 1px #323232; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
      color: #e6e6e6; }
  .navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02); }
  .navbar-default .navbar-toggle {
    border-color: #ffffff;
    background-color: #7f4f97; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #9869B0; }
  .navbar-default .nav li a {
    font-family: "Great Vibes", "Helvetica Neue", Helvetica, Arial, cursive;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #323232;
    -webkit-transition: color .3s;
    transition: color .3s; }
    .navbar-default .nav li a:hover, .navbar-default .nav li a:focus, .navbar-default .nav li a:active, .navbar-default .nav li a.active {
      outline: 0;
      color: #e6e6e6; }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #7f4f97; }
    .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
      background-color: #7f4f97; }
  @media (min-width: 768px) {
    .navbar-default {
      padding: 25px 0;
      border: 0;
      background-color: transparent;
      -webkit-transition: padding .3s;
      transition: padding .3s; }
      .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s; }
      .navbar-default .navbar-nav > .active > a {
        border-radius: 3px; }
      .navbar-default.navbar-shrink {
        padding: 7px 0;
        background-color: #9869B0; }
        .navbar-default.navbar-shrink .navbar-brand {
          font-size: 1.5em; } }

section {
  padding: 80px 0; }
  section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 36px; }
    section h2.section-heading i.fa {
      font-size: 0.7em;
      margin-right: 5px; }
  section h3 {
    font-size: 28px; }
    section h3.section-subheading {
      margin-bottom: 75px;
      font-size: 26px; }
  @media (min-width: 768px) {
    section {
      padding: 120px 0; }
      section h2.section-heading {
        font-size: 46px; } }

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px; }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background-color: #ffffff; }

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " "; }

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " "; }

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }

.timeline > li.timeline-inverted > .timeline-panel {
  float: right; }

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

.timeline-badge.primary {
  background-color: #2e6da4 !important; }

.timeline-badge.success {
  background-color: #3f903f !important; }

.timeline-badge.warning {
  background-color: #f0ad4e !important; }

.timeline-badge.danger {
  background-color: #d9534f !important; }

.timeline-badge.info {
  background-color: #5bc0de !important; }

.timeline-title {
  margin-top: 0;
  color: inherit; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px; }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px); }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px; }

  ul.timeline > li > .timeline-panel {
    float: right; }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto; }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto; } }
.groomsmen-picture {
  width: 150px;
  height: 150px; }

#signup #contactForm.apero #message {
  height: 183px; }
#signup #contactForm.essen #message {
  height: 395px; }

.btn-xl {
  padding: 10px 25px;
  font-size: 16px;
  color: #ffffff;
  background-color: #9869B0; }
  .btn-xl .fa {
    margin-right: 5px; }
  .btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active {
    color: #ffffff;
    background-color: #7f4f97; }

footer {
  background-color: #363636;
  color: #ffffff;
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    line-height: 40px; }

/*# sourceMappingURL=wedding.css.map */
