.loadingOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: table;
  background: white; }
  .loadingOverlay i.fa {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 45px;
    -webkit-animation: pulsing 1.2s infinite;
    -moz-animation: pulsing 1.2s infinite;
    animation: pulsing 1.2s infinite;
    color: #FF8C89; }

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0; } }
@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0; } }
.text-muted {
  color: #777; }

.text-primary {
  color: #ffffff; }

p {
  font-size: 14px;
  line-height: 1.75em; }

a {
  color: #ffffff; }
  a:hover, a:focus, a:active, a.active {
    color: #e6e6e6; }
  a, a:hover, a:focus, a:active, a.active {
    outline: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Great Vibes", "Helvetica Neue", Helvetica, Arial, cursive; }

.bg-light-gray {
  background-color: #f7f7f7; }

header {
  text-align: center;
  color: #ffffff;
  background: url(../Images/login-bg.jpg) no-repeat center center scroll;
  background-size: cover; }
  header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px; }
    header .intro-text .intro-heading {
      font-family: "Great Vibes", "Helvetica Neue", Helvetica, Arial, cursive;
      font-size: 50px;
      line-height: 60px;
      text-shadow: 1px 1px 1px #323232; }
    header .intro-text .intro-lead-in {
      font-family: "Great Vibes", "Helvetica Neue", Helvetica, Arial, cursive;
      font-size: 22px;
      line-height: 22px;
      text-shadow: 1px 1px 1px #323232; }
  @media (min-width: 768px) {
    header .intro-text {
      padding-top: 300px;
      padding-bottom: 200px; }
      header .intro-text .intro-heading {
        font-size: 100px;
        line-height: 110px; }
      header .intro-text .intro-lead-in {
        font-size: 30px;
        line-height: 30px; } }

.navbar-default {
  border-color: transparent;
  background-color: #9869B0; }
  .navbar-default .navbar-brand {
    font-family: "Great Vibes", "Helvetica Neue", Helvetica, Arial, cursive;
    color: #ffffff;
    text-shadow: 1px 1px 1px #323232; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
      color: #e6e6e6; }
  .navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02); }
  .navbar-default .navbar-toggle {
    border-color: #ffffff;
    background-color: #7f4f97; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #9869B0; }
  .navbar-default .nav li a {
    font-family: "Great Vibes", "Helvetica Neue", Helvetica, Arial, cursive;
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 20px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #323232;
    -webkit-transition: color .3s;
    transition: color .3s; }
    .navbar-default .nav li a:hover, .navbar-default .nav li a:focus, .navbar-default .nav li a:active, .navbar-default .nav li a.active {
      outline: 0;
      color: #e6e6e6; }
  .navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #7f4f97; }
    .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
      background-color: #7f4f97; }
  @media (min-width: 768px) {
    .navbar-default {
      padding: 25px 0;
      border: 0;
      background-color: transparent;
      -webkit-transition: padding .3s;
      transition: padding .3s; }
      .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s; }
      .navbar-default .navbar-nav > .active > a {
        border-radius: 3px; }
      .navbar-default.navbar-shrink {
        padding: 7px 0;
        background-color: #9869B0; }
        .navbar-default.navbar-shrink .navbar-brand {
          font-size: 1.5em; } }

section {
  padding: 80px 0; }
  section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 36px; }
    section h2.section-heading i.fa {
      font-size: 0.7em;
      margin-right: 5px; }
  section h3 {
    font-size: 28px; }
    section h3.section-subheading {
      margin-bottom: 75px;
      font-size: 26px; }
  @media (min-width: 768px) {
    section {
      padding: 120px 0; }
      section h2.section-heading {
        font-size: 46px; } }

.groomsmen-picture {
  width: 150px; }

footer {
  background-color: #363636;
  color: #ffffff;
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    text-transform: uppercase;
    text-transform: none;
    line-height: 40px; }

/*# sourceMappingURL=wedding.css.map */
