RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.nadiaundmartinheiraten\.ch$
RewriteRule ^(.*)$ http://nadiaundmartinheiraten.ch/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]